@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,200;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
  }
  
  html {
    font-size: 70%;
    overflow-x:hidden ;

  }
  body{
    overflow-x:hidden ;
  }
  
  .background-image {
    background-image: url('../assets/images/hrtech.jpg');
    height: 200vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(40, 126, 201, 0.8); /* Add background color for better readability */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
  }
  
  .header .logo {
    height: 10rem;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 4.8rem;
  }
  
  .navbar-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(212, 211, 211);
    transition: all 0.5s;
  }
  .navbar-link:hover,
  .navbar-link:active{
    color: #ff99ff;
  }
  .mobile-navbar-btn{
    display: none; /* Initially hide the mobile menu button */
    cursor: pointer;
    background: black;
  }
 .mobile-nav-icon{
    width: 4rem;
    height: 4rem;
    color: rgb(28, 24, 24);
 }
 .mobile-nav-icon[name = "undo"]
{
    display: none;
}
@media (max-width: 62em)
{
  .mobile-navbar-btn{
    display:block;
    z-index: 999;
    border: 3px solid rgb(184, 34, 34);
    color: rgb(47, 125, 97);

  }
  .header.logo{
    width: 40%;
  }
  .navbar{
   /* display: none; */
   width: 100%;
   height: 100vh;
   background:rgb(26, 19, 19);
   position:absolute ;
   top:0 ;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;

   /*trasnition for */
   transform: translate(100%);
   transition: all 1s linear;

   opacity: 0;
   visibility: hidden;
   pointer-events: none;

   .navbar-list{
    flex-direction: column;
    align-items:center ;
   }
   .active.navbar{
    transform: translateX(0);
    visibility:visible ;
    opacity: 1;
    pointer-events: auto;
   }
   .acitve.mobile-navbar-btn.mobile-nav-icon[name = "undo"]{
    display:block;
   }
   .acitve.mobile-navbar-btn.mobile-nav-icon[name = "radio-button-on"]{
    display:none;
  }
  
}
}

@media (max-width: 62em)
{
  .header{
    padding:  0 2.4rem;
  }

  
  .header.logo{
    width: 60%;
  
  }
}